

.education {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}

.education li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: .25rem;
}

.education li .name::before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    align-items: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../img/icons/study-svgrepo-com.svg');
    margin-right: .5rem;

    min-width: 20px;
    min-height: 20px;
}

.education li .institution::before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    align-items: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../img/icons/graduacao-icon.svg');
    margin-right: .5rem;

    min-width: 20px;
    min-height: 20px;
}

.education li .period::before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    align-items: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../img/icons/calendario-icon.svg');
    margin-right: .5rem;

    min-width: 20px;
    min-height: 20px;
}