

.languages {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    
    margin: 0;
    padding: 0;
    list-style: none;
}

.languages li {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 700;
    font-size: 1rem;
    padding-right: 1rem;
}

.languages li::before {
    content: "";
    display: inline-block;
    width: .8rem;
    height: .8rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('//curso_JS/portifolio/assets/img/icons/check-icon.svg');
    margin-right: .5rem;
}