

.me {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}

.me p {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 500;
    font-size: 1rem;
    width: 100%;
    margin: .5rem;
    padding-right: 2rem;

    overflow-wrap: break-word;
    word-break: break-word;
}

